.name {
  width: 100%;
  height: 43px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;
}

.avatar {
  position: absolute;
  top: 360px;
}

.item {
  border: white 5px solid;
}

.des {
  height: 43px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-top: 7px;
}

.subcrible {
  margin-top: 7px;
  height: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.tab {
  padding: 0 80px;
}
