.header {
  height: 70px;
  background: white;
  z-index: 10;
}

.input-search {
  height: 50px;
  border-radius: 40px;
  background: rgba(239, 239, 239, 1);
  padding-left: 15px;
  flex: 1;
}

.input-search input {
  background: rgba(239, 239, 239, 1);
  color: rgba(117, 117, 117, 1);
}

.btn-black {
  background-color: black;
}

.btn-black:hover {
  color: white;
  background-color: rgb(34, 34, 34);
}

.btn-red {
  background-color: #e62523;
}

.btn-red:hover {
  background-color: #cc3c3a;
  color: white;
}

.ant-badge-count {
  top: 4px;
  right: 20px;
}
